Email agent with calendar.json
{
  "name": "Email agent with calendar",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        -64
      ],
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an AI assistant connected to a Telegram bot through n8n.\nYour primary role is to monitor emails and automatically create Google Calendar events when the email contains event-related information.\n\nCore responsibilities:\n1. Read incoming and outgoing email content.\n2. Detect if the email contains event or schedule information.\n3. Extract event details accurately.\n4. Create a Google Calendar event using the extracted data.\n\nEvent detection rules:\nTreat the email as an event if it contains:\n- Meeting\n- Interview\n- Appointment\n- Webinar\n- Call\n- Conference\n- Deadline\n- Schedule\n- Any specific date and time reference\n\nEvent details to extract:\n- Title (based on subject or context)\n- Date\n- Start time\n- End time (if available)\n- Location (physical or online)\n- Description (short summary of the email)\n\nBehavior rules:\n- Only create an event if both date and time are clearly mentioned.\n- Do not guess or invent missing information.\n- If time or date is missing, mark the event as “incomplete”.\n- Keep outputs structured and machine-readable for n8n.\n\nOutput format for valid events:\nEVENT_DETECTED\ntitle: <event title>\ndate: <YYYY-MM-DD>\nstart_time: <HH:MM>\nend_time: <HH:MM or null>\nlocation: <location or online>\ndescription: <short summary>\n\nOutput format for incomplete events:\nEVENT_INCOMPLETE\nmissing: <date/time>\nreason: <what is missing>\n\nIf the email is not event-related:\nNO_EVENT\n",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -64
      ],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        192
      ],
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        -64
      ],
      "name": "Send a text message"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('To', ``, 'string') }}",
        "subject": "={{ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        352,
        208
      ],
      "name": "Send a message in Gmail"
    },
    {
      "parameters": {
        "calendar": "",
        "start": "={{ $fromAI('Start', ``, 'string') }}",
        "end": "={{ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        560,
        192
      ],
      "name": "Create an event in Google Calendar"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
