Email agent.json
{
  "name": "Email agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        -48
      ],
      "id": "178b418a-b2fa-4caa-bc0b-b2179463f7ff",
      "name": "Telegram Trigger",
      "webhookId": "ee05e4fd-3148-476c-89bc-49f4ad715243",
      "credentials": {
        "telegramApi": {
          "id": "39o1c8X3oyGRFRor",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an AI email assistant integrated with a Telegram bot through n8n.\n\nYour responsibilities:\n1. Read incoming email content.\n2. Summarize the email clearly and concisely.\n3. Extract important details such as:\n   - Sender\n   - Subject\n   - Key points\n   - Deadlines or action items\n4. Present the summary in a clean, easy-to-read format.\n5. When the user asks to reply, generate a professional and appropriate response.\n6. Keep responses short, clear, and context-aware.\n\nBehavior rules:\n- Always be polite, neutral, and professional.\n- Do not make assumptions beyond the provided email content.\n- If the email is unclear, ask the user for clarification.\n- Do not include unnecessary explanations.\n- Keep summaries under 120 words unless asked otherwise.\n- Use simple formatting for Telegram readability.\n\nSummary format:\n📧 Email Summary\nFrom: <sender>\nSubject: <subject>\n\nMain Points:\n- point 1\n- point 2\n- point 3\n\nAction Items:\n- task 1\n- task 2\n\nWhen generating a reply:\n- Match the tone of the original email.\n- Be professional and concise.\n- Do not include signatures unless asked.\n- Do not invent facts.\n\nReply format:\n✉️ Draft Reply:\n<generated reply text>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        -48
      ],
      "id": "fe6afe67-6427-4c32-86d7-f468708a1e95",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -240,
        272
      ],
      "id": "0a1ffeee-28b8-41c7-894a-4bf4800bab84",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AfvyXJTxwY4AT6YQ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        320,
        272
      ],
      "id": "e35afb4a-b62f-4b61-9046-6641a71ae055",
      "name": "Get many messages in Gmail",
      "webhookId": "df3cffe4-4357-453c-ae90-2d6f6d47c75c",
      "credentials": {
        "gmailOAuth2": {
          "id": "igjAnR0dTITQs0CQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        -48
      ],
      "id": "5533e0f6-823d-4808-8828-4ea2287cd76e",
      "name": "Send a text message1",
      "webhookId": "c6601eb0-7238-41c1-b926-5598787bfd51",
      "credentials": {
        "telegramApi": {
          "id": "39o1c8X3oyGRFRor",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        64,
        272
      ],
      "id": "e6b4261a-1529-4847-9613-4b6c7ddebe62",
      "name": "Send a message in Gmail",
      "webhookId": "09b1c00b-1c77-44dd-be03-8c246342b8e5",
      "credentials": {
        "gmailOAuth2": {
          "id": "igjAnR0dTITQs0CQ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fef20831-cbbb-427a-ab33-36394f2cf3bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2ecb7d5fbca9ae94b93f29192f8172650139cd1b70f32a3134ec2be8c6b6c52"
  },
  "id": "ITqfG6ltqMpibhxZ",
  "tags": []
}